    <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="d-flex justify-content-between">
          <p class="mb-0">© Copyright 2021. All Rights Reserved.</p>
          <p class="mb-0">Created By: <a href="https://techincent.com">TechIncent</a></p>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/prism.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>