<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="static/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/prism.css">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/docs.css" rel="stylesheet">
    <title>Documentation - Store API</title>
  </head>
  <body>
    <div class="layout__container">
        <aside class="layout__sidebar bg-dark text-light">
            <div id="doc__sidenav__body" class="layout__sidebar__body">
                <div class="link__group">
                    <h3 class="link__group__heading">Product</h3>
                    <nav class="link__nav mt-3">
                        <a href="#id_product--1">Get all products</a>
                        <a href="#id_product--2">Get a single products</a>
                        <a href="#id_product--3">Add product</a>
                        <a href="#id_product--4">Update product</a>
                        <a href="#id_product--5">Delete product</a>
                    </nav>
                </div>
                <!-- User Link -->
                <div class="link__group mt-5">
                    <h3 class="link__group__heading">User</h3>
                    <nav class="link__nav mt-3">
                        <a href="#id_user--1">Get all users</a>
                        <a href="#id_user--2">Get a single user</a>
                        <a href="#id_user--3">Add user</a>
                        <a href="#id_user--4">Update user</a>
                        <a href="#id_user--5">Delete user</a>
                    </nav>
                </div>
                <!-- Auth Link -->
                <div class="link__group mt-5">
                    <h3 class="link__group__heading">Auth</h3>
                    <nav class="link__nav mt-3">
                        <a href="#id_auth--1">Login</a>
                        <a href="#id_auth--2">Register</a>
                        <a href="#id_auth--3">Refresh Token</a>
                    </nav>
                </div>
                
                <!-- User Cart -->
                <div class="link__group mt-5">
                    <h3 class="link__group__heading">Cart</h3>
                    <p>Coming soon</p>
                    <!-- <nav class="link__nav mt-3">
                        <a href="#id_cart--1">Get all Carts</a>
                        <a href="#id_cart--2">Get a single cart</a>
                        <a href="#id_cart--3">Add cart</a>
                        <a href="#id_cart--4">Update cart</a>
                        <a href="#id_cart--5">Delete cart</a>
                    </nav> -->
                </div>
            </div>
        </aside>
        <div class="layout__content">
           <div class="page__container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">StoreApi</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link px-4 py-3 <%= path_name === '/' && 'active' %>" aria-current="page" href="/">Home</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link px-4 py-3 <%= path_name === '/docs' && 'active' %>" href="/docs">Docs</a>
                                  </li>
                                <li class="nav-item">
                                <a class="nav-link px-4 py-3" href="#">Github</a>
                                </li>
                                <!-- <li class="nav-item">
                                <a class="nav-link" href="/docs">Buy a coffee</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="page__content" data-bs-spy="scroll" data-bs-target="#doc__sidenav__body" data-bs-offset="0">
                    <div class="page__main">
                        <!-- Product -->
                        <div class="card">
                            <div class="card-header">
                                <h2>Product</h2>
                            </div>
                            <div class="card-body">
                                <div id="id_product">
                                    <h4 id="id_product--1" class="mt-2">Get all Products</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/products')
    .then(response => response.json())
    .then(json => console.log(json))</code></pre>
                                    
                                    <h4 id="id_product--2" class="mt-4">Get single product</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/products/slug')
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_product--3" class="mt-4">Create product</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/products',
    {
        method: 'POST',
        body: JSON.stringify({
          title: 'Men Boxer Sneakers For Men  (Black)',
          price: 799
          description: 'Lorem Ipsum is simply dummy text of the printing',
          category: "612e42d755b07f20de9ec6a5"
        }),
        headers: {
          'Content-type': 'multipart/form-data',
        },
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_product--4" class="mt-4">Update product</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/products/mens-casual-shoes-sports-running-sneakers',
    {
        method: 'PUT',
        body: JSON.stringify({
          title: 'Men Boxer Sneakers For Men  (Black)',
          price: 799
          description: 'Lorem Ipsum is simply dummy text of the printing',
          category: "612e42d755b07f20de9ec6a5"
        }),
        headers: {
          'Content-type': 'multipart/form-data',
        },
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_product--5" class="mt-4">Delete product</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/products/mens-casual-shoes-sports-running-sneakers',
    {
        method: 'DELETE',
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                </div>
                                

                            </div>
                        </div>
                        <!-- User -->
                        <div class="card mt-5">
                            <div class="card-header">
                                <h2 id="id_user">User</h2>
                            </div>
                            <div class="card-body">
                                <div id="id_user">
                                    <h4 id="id_user--1" class="mt-2">Get All Users</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/users')
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_user--2" class="mt-4">Get Single User</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/users/id')
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_user--3" class="mt-4">Add New User</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/users/id', 
    {
        method: 'POST',
        body: JSON.stringify({
            title: 'foo',
            body: 'bar',
        }),
        headers: {
            'Content-type': 'application/json; charset=UTF-8',
        },
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                
                                    <h4 id="id_user--4" class="mt-4">Update User</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/users/id',
    {
        method: 'PUT',
        body: JSON.stringify({
            name: 'Alex Pi',
            number: 12025550108
        }),
        headers: {
            'Content-type': 'application/json; charset=UTF-8',
        },
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_user--5" class="mt-4">Delete User</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/users/id',
        {
            method: 'DELETE',
        }
    )
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                </div>
                            </div>
                        </div>

                        <!-- Auth -->
                        <div class="card mt-5">
                            <div class="card-header">
                                <h2 id="id_auth">Auth</h2>
                            </div>
                            <div class="card-body">
                                <div id="id_auth">
                                    <h4 id="id_auth--1" class="mt-2">Login</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/auth/login',
    {
        method: 'POST',
        body: JSON.stringify({
            email: 'Example@mail.com',
            password: 'Simple12345'
        }),
        headers: {
            'Content-type': 'application/json; charset=UTF-8',
        },
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_auth--2" class="mt-4">Register</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/auth/register',
    {
        method: 'POST',
        body: JSON.stringify({
            name: 'Alex Pi',
            email: 'Example@mail.com',
            number: 12025550108,
            password: 'Simple12345'
            password_repeat: 'Simple12345'
        }),
        headers: {
            'Content-type': 'application/json; charset=UTF-8',
        },
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                    
                                    <h4 id="id_auth--3" class="mt-4">Refresh Token</h4>
                                    <pre class="language-js">
<code class="language-js">fetch('https://storerestapi.com/api/auth/refresh',
    {
        method: 'POST',
        body: JSON.stringify({
            refresh_token: 'asd0909asf99f.0sd9fs9df09sd0fi4as4sd0909asf99f0sd9f.s9df09sd0fi',
        }),
        headers: {
            'Content-type': 'application/json; charset=UTF-8',
        },
    })
    .then(response => response.json())
    .then(json => console.log(json))</code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <footer class="bg-dark text-white py-4 mt-auto">
                        <div class="container-fluid">
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">© Copyright 2021. All Rights Reserved.</p>
                            <p class="mb-0">Created By: <a class="text-light"  href="https://techincent.com">TechIncent</a></p>
                        </div>
                        </div>
                    </footer>
                </div>
           </div>
        </div>
    </div>
      <!-- Scripts -->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/prism.js"></script>
      <script src="static/js/script.js"></script>
    </body>
  </html>
