@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary: #5bc4d6;
}
html {
  font-size: 15px;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  transition: all 0.2s ease-in;
}
/* List */
.simple-list {
  max-width: 480px;
}
.simple-list a {
  text-decoration: none;
  color: var(--primary);
}

/* End List */

#response_try_pre {
  display: none;
}

/* --------------- Layout start ---------------- */
.layout__container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  height: 100vh;
}
.layout__sidebar {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  outline: 0;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translate3d(-100%, 0, 0);
}

.layout__sidebar__body {
  width: 280px;
  padding: 50px;
}
.layout__content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}
/* Page layout */
.page__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page__content {
  position: relative;
  z-index: 1;
  display: block;
  overflow: auto;
  flex: 1;
}
.page__main {
  padding: 30px;
}
/* ---------------- Layout end ---------------- */
@media (min-width: 992px) {
  .layout__sidebar {
    transform: none;
  }
  .layout__content {
    margin-left: 280px;
  }
}
